.container {
    margin-top: 20px;
  }
  .todo-header {
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .todo-list {
    border: 1px solid #ddd;
  }
  .todo-list th {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
  }
  .todo-list td {
    vertical-align: middle;
  }
  .todo-list .completed {
    text-decoration: line-through;
  }